.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.env
.env.*
.DS_Store
.vscode/
.idea/
outputs/**
!outputs/.gitkeep
data/**
!data/.gitkeep
!data/README.md
weights/**
!weights/.gitkeep
!weights/README.md
